attrs==23.1.0
cattrs==23.1.2
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
platformdirs==3.8.0
requests==2.31.0
requests-cache==1.0.1
six==1.16.0
types-requests==2.31.0.1
types-urllib3==1.26.25.13
types-xmltodict==0.13.0.2
url-normalize==1.4.3
urllib3==2.0.3
xmltodict==0.13.0
