attrs==23.1.0
cattrs==23.1.2
certifi==2023.5.7
cfgv==3.3.1
charset-normalizer==3.1.0
distlib==0.3.6
filelock==3.12.2
identify==2.5.24
idna==3.4
mypy==1.4.1
mypy-extensions==1.0.0
nodeenv==1.8.0
platformdirs==3.8.0
pre-commit==3.3.3
PyYAML==6.0
requests==2.31.0
requests-cache==1.0.1
six==1.16.0
types-requests==2.31.0.1
types-urllib3==1.26.25.13
types-xmltodict==0.13.0.2
typing_extensions==4.7.0
url-normalize==1.4.3
urllib3==2.0.3
virtualenv==20.23.1
xmltodict==0.13.0
